.add-to-cart-btn {
  background-color: #fff;
  border: none;
  padding: 10px 12px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
  background-color: #694b30;
}

.add-to-cart-btn svg {
  color: #bf9064;
}